### Gradle template
.gradle
gradlew
gradlew.bat
build/
/gradle/*
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### SAYAYA WEB PROJECT ###
!**/src/main/**/generated/
!**/src/main/**/resources/static/
!**/src/test/**/resources/
src/main/resources/bootstrap.yml


!/gradle/wrapper/gradle-wrapper.jar

!/gradle/wrapper/gradle-wrapper.properties

### war ###
**/war/**

### excel ###
*.xlsx
/analysis/src/main/resources/static/
/worklist-ui/src/main/java/com/gcgenome/lims/api/FetchApi.java
