/.idea/
/.gradle/
/**/build
/build/
/worklist/src/main/resources/static/worklist/63A0A81696D82AA5810698D3687E3D2B.cache.js
/worklist/src/main/resources/static/worklist/clear.cache.gif
/worklist/src/main/resources/static/css/fa.min.css
/worklist/src/main/resources/static/css/global.css
/worklist/src/main/resources/static/css/handsontable.css
/worklist/src/main/resources/static/css/handsontable.full.css
/worklist/src/main/resources/static/js/handsontable.full.min.js
/worklist/src/main/resources/static/css/worklist.css
/worklist/src/main/resources/static/worklist/worklist.devmode.js
/worklist/src/main/resources/static/worklist.html
/worklist/src/main/resources/static/worklist/worklist.nocache.js
