.button.mdc-text-field--outlined {
    height: 36px;
    border-right: 0px hidden !important;
}
.button.mdc-text-field--outlined.mdc-notched-outline--upgraded .mdc-floating-label--float-above,
.button.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    -webkit-transform: translateY(-34.75px) scale(0.75);
    transform: translateY(-22.75px) scale(0.75);
}
.section .title-icon {
    margin-left: 20px;
    line-height: 64px;
    height: 64px;
    width: 32px;
    color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}
/*.wtHolder {
    width: 100% !important;
    height: fit-content !important;
}
.ht_master .wtHider {
    overflow: hidden;
}
.ht_clone_top .wtHolder, .ht_clone_left .wtHolder, .ht_clone_bottom .wtHolder {
    overflow: hidden;
    height: fit-content !important;
}
.ht_clone_left .wtHolder {
    overflow:hidden;
}
.ht_clone_left .row-header-checkbox {
    vertical-align: middle;
}*/